h1, h2 {
    color: #FFC0CB;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.invitation-text {
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 80%; 
    margin: 20px auto; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    color: #FF69B4; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .invitation-title {
    font-size: 2rem; 
    font-weight: bold; 
    margin-bottom: 10px;
  }
  
  .invitation-details {
    font-size: 1.2rem; 
    font-weight: normal;
    line-height: 1.5; 
  }