.carousel-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.carousel img {
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.carousel {
  width: 100%;
}

.carousel-button:hover {
  background-color: #f8dccf;
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
    padding: 20px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    width: 100%;

    .carousel img {
      max-height: 300px;
      width: 100%;
    }

    .carousel-button {
      padding: 8px 16px; 
      max-width: 150px; 
      width: auto; 
      margin: 0 auto; 
      display: block; 
    }
  }

  @media (max-width: 480px) {
    .carousel img {
      max-height: 200px;
    }

    .carousel-button {
      padding: 6px 12px;
    }

    .carousel-container {
      padding: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}
